.content{background:url(../../images/main/bgpic.gif) top no-repeat; width:950px; margin:0 auto; text-align:left; position:relative;}
.logo{background:url(../../images/main/logo.gif) no-repeat; width:401px; height:72px; margin:15px 0px 10px;}
.line{background:url(../../images/main/fale_linebg.gif) repeat-x; height:20px;}
.bg{background:#f6f1db; font:14px "ו"; color:#626058; text-align:center; padding:120px 200px 150px;}
.page{background:url(../../images/main/fale_r01.gif) no-repeat; width:90px; height:90px; position:absolute; right:0px; bottom:0px;}
.back{position:absolute; right:48px; bottom:43px;}