* {padding:0; margin:0;}
ul{list-style:none;}
a{color:#645a44; text-decoration:none;}
a:hover{color:#F00; text-decoration:underline;}
body{background:url(../../images/main/bg.gif) top repeat-x;}
.container{background:url(../../images/main/bgpic.gif) top no-repeat; width:950px; margin:0 auto; text-align:left; font:12px "宋体"; line-height:22px;}
	
.topnav{position:relative;}
.topnav .logo{background:url(../../images/main/logo.gif) bottom left no-repeat; width:481px; height:68px;}
.topnav .sidenav{position:absolute; right:6px; top:10px;}
	
.header{width:950; height:68px}
	
.mainnav{font:bold 14px/28px "宋体"; padding-left:50px; height:28px; line-height:28px; position:relative;}
.mainnav li{float:left; margin-left:1px;}
.mainnav li.line{border-bottom:1px solid #df7c00;}
.mainnav li a{float:left; background:url(../../images/main/menu_lbg.gif) left top no-repeat;} 
.mainnav li a span{float:left; cursor:hand; color:#575757; background:url(../../images/main/menu_rbg.gif) right top no-repeat; padding:0px 14px; height:28px;} 
.mainnav li a:hover span {padding:0px 14px; color:#FFF; text-decoration:none; height:28px;} 
.mainnav .out a:visited{background-position:0px -28px; text-decoration:none;} 
.mainnav .out a:visited span{background-position:right -28px; padding:0px 14px; color:#FFF; text-decoration:none;} 
.mainnav .over a:hover{background-position:0px -28px; text-decoration:none;} 
.mainnav .over a:hover span{background-position:right -28px; text-decoration:none;} 
.mainnav .topbtn{position:absolute; top:3px; right:0px;}
	
.msg{background:url(../../images/main/head_linebg.gif) repeat-x; font:14px "宋体"; color:#966411; padding:18px 0 8px 10px;}
	
.main {float:left; width:100%; margin:3px auto 6px;}
.left{float:left;}
.left li a{display:block; background:url(../../images/main/m_btn_out.gif) no-repeat; width:172px; margin-top:8px; padding-left:20px; font:14px/34px "宋体"; color:#000;}
.left li a.current{display:block; background:url(../../images/main/m_btn_over.gif) no-repeat; width:172px; margin-top:8px; padding-left:20px; font:14px/34px "宋体"; color:#000;}
.left li a:hover{background:url(../../images/main/m_btn_over.gif) no-repeat; text-decoration:none; color:#000;}
.left li span{display:block; background:url(../../images/main/m_btn_over.gif) no-repeat; width:172px; margin-top:8px; padding-left:20px; font:14px/34px "宋体"; color:#000;}
.right{float:right; margin-top:8px; width:749px;}
.right .tit{background:url(../../images/main/m_titlebg.gif) repeat-x; height:33px; border-top:1px solid #ffc600; border-left:1px solid #ffc600; border-right:1px solid #ffc600; font:14px/33px "宋体"; color:#333; padding-left:12px;}
.right .tit .l{float:left;}
.right .tit .r{float:right;}
.main .title{background:url(../images/main/m_titlebg.gif) repeat-x; height:33px; border-top:1px solid #ffc600; border-left:1px solid #ffc600; border-right:1px solid #ffc600; border-bottom:1px solid #ffc600; font:14px/33px "宋体"; color:#333; padding-left:12px;}
.main table td{color:#333; padding:6px;}

	
.footer{clear:both; border-top:5px solid #d89015; margin-top:10px; padding:10px; text-align:center; color:#555;}

/* page 分页 */
pagerWrapper{padding: 6px 10px 8px 10px; line-height: 25px; margin:10px auto; width:700px;}
.pagerWrapper a:link,
.pagerWrapper a:active,
.pagerWrapper a:visited,
.pagerWrapper a:hover

{padding: 2px 5px 3px 5px; color: #000000; background: #FBFBF9; border: 1px solid #E4E1DA; text-decoration: none;}

.pagerWrapper a:hover{color: #395500; background: #EFF9D0; border: 1px solid #A5D11F;}

.pagerWrapper span.active{padding: 2px 5px 3px 5px;font-weight: bold; color: #000000 !important; background: #ECF4FD !important;	border: 1px solid #98C7F5 !important;}
